.product_main {
  padding: 30px 15px;

  .page_title_block {
    padding: 0 0 25px 0;
    display: flex;
    justify-content: space-between;

    h4 {
      font-size: 18px;
      margin: 0;
      color: #50649c;
    }

    .button {
      background-color: #1ecab8;
      border: 1px solid #1ecab8;
      color: #fff;
      border-radius: 3px;
      font-family: Poppins, sans-serif;
      font-size: 14px;
      line-height: 18px;
      padding: 10px 15px;
      outline: none;
    }
  }

  .table_block {
    background-color: #ffffff;
    box-shadow: 6px 11px 41px -28px #a99de7;
    border-radius: 5px;

    .card {
        border: none;
      &.white_bg {
        padding: 25px 15px;

        .card_body {
          flex: 1 1 auto;
          padding: 1.25rem;

          .header-title {
            margin-bottom: 8px;
            text-transform: capitalize;
            letter-spacing: .02em;
            font-size: 15px;
            font-weight: 500;
            margin-top: 0;
            color: #50649c;
            text-shadow: 0 0 1px rgba(239, 242, 249, .1);
            font-family: Poppins, sans-serif;
          }

          .search {
            text-align: right;
            padding-bottom: 20px;
            font-family: Poppins, sans-serif;

            label {
              font-weight: normal;
              white-space: nowrap;
              text-align: left;
              color: #656d9a;
              font-size: 13px;
              font-family: Poppins, sans-serif;

              input {
                margin-left: 0.5em;
                display: inline-block;
                width: 220px;
                font-size: 13px;
                border: 1px solid #e8ebf3;
                height: calc(2.3rem + 2px);
                color: #2f5275;
                outline: none;
                box-shadow: none;
                padding: .25rem .5rem;
                font-size: .875rem;
                line-height: 1.5;
                border-radius: .2rem;
                font-family: Poppins, sans-serif;

                &:focus {
                  border-color: rgba(77, 121, 246, .5);
                  -webkit-box-shadow: none;
                  box-shadow: none;
                }
              }
            }
          }

          .table {
            color: #7286a2;
            border-spacing: 0px;
            width: 100%;
            border: 1px solid #eaf0f7;

            .thead-light {
              th {
                background-color: #f1f5fa !important;
                font-weight: 500;
                color: #50649c;
                font-size: 13px;
                border: 2px solid #eaf0f7;
                font-family: 'Poppins', sans-serif;
              }
            }

            td {
              border: 1px solid #eaf0f7;
              line-height: 1.6;
              font-family: Roboto, sans-serif;
              font-size: 13px;
              vertical-align: middle;
            }

            .icon_block {
              display: flex;

              .icon {
                display: inline-block;
                font-size: 16px;
                margin: 0 auto 5px;
                color: #a4abc5 !important;
                opacity: 1;
                cursor: pointer;

                &.red_col {
                  &:hover {
                    color: red !important;
                  }
                }

                &:hover {
                  color: #053fe4 !important;
                }
              }
            }
          }
        }
      }
    }

    .pro_img {
      width: 150px;

      img {
        width: auto;
        height: 52px;
      }
    }
  }
}
