<div class="container-fluid">
  <div class="product_main">
    <div class="page_title_block">
      <h4>Product List</h4>
      <button type="button" class="button" routerLink="./add-product">Add Product + </button>
    </div>
    <div class="table_block">
      <div class="card white_bg">
        <div class="card_body">
          <h4 class="mt-0 header-title">Product Stock</h4>
          <div class="row">
            <div class="col-sm-12 col-md-6">
            </div>
            <div class="col-sm-12 col-md-6">
              <div class="search">
                <label>Search:
                  <input type="search" class="form-control form-control-sm" placeholder="" aria-controls="datatable">
                </label>
              </div>
            </div>
          </div>
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">Product Image</th>
                <th scope="col">Product Name</th>
                <th scope="col">Product Description</th>
                <th scope="col">Category</th>
                <th scope="col">Price</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of products">
                <td class="pro_img">
                  <img [src]="item.product_img" alt="">
                </td>
                <td>{{item.product_name}}</td>
                <td>{{item.product_description}}</td>
                <td>{{item.category_name}}</td>
                <td>{{item.product_price}}</td>
                <td>
                  <div class="icon_block">
                    <i class="far fa-edit icon"></i>
                    <i class="fas fa-trash-alt icon red_col"></i>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
